/* ==========================================
   7. FORMULARIOS (LOGIN Y REGISTRO)
   ========================================== */
.contenedor-form {
    max-width: 500px;
    margin: 0 auto;
    background: #ffffff;
    padding: 2.5rem;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    border-top: 5px solid #000000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.contenedor-form h2 {
    border-bottom: none;
    text-align: center;
    margin-bottom: 2rem;
}

.grupo-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

.grupo-form label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #121212;
}

.grupo-form input,
.grupo-form select {
    padding: 0.75rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: inherit;
    transition: border-color 0.3s;
}

.grupo-form input:focus,
.grupo-form select:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
}

/* Clases dinámicas para JavaScript (Errores) */
.input-error {
    border-color: #dc3545 !important;
    background-color: #fff8f8;
}

.msg-error {
    color: #dc3545;
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.4rem;
    display: none; /* Oculto por defecto, JS lo muestra */
}

.btn-submit {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 0.85rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #333333;
}